@page "{suggestion?}"
@model Web.Pages.Events.CreateModel
@{
    ViewData["Title"] = "New Event";
}

<div>
    <h3 class="title">Fill in the details:</h3>
    <form class="form-buttons d-flex align-items-center flex-column" method="post" enctype="multipart/form-data">
        <div class="field col-sm-3">
            <label asp-for="EventViewModel.Image" class="form-label"></label>
            <span asp-validation-for="EventViewModel.Image"></span>
            <input asp-for="EventViewModel.Image" type="file" class="form-control">
        </div>
        <div class="field col-sm-3 col-8">
            <label asp-for="EventViewModel.Title" class="form-label"></label>
            <span asp-validation-for="EventViewModel.Title"></span>
            <input asp-for="EventViewModel.Title" class="form-control" value=@Model.SuggestionData?.Description>
        </div>
        <div class="field col-sm-6 col-10">
            <label asp-for="EventViewModel.Description" class="form-label"></label>
            <span asp-validation-for="EventViewModel.Description"></span>
            <textarea rows="5" asp-for="EventViewModel.Description" type="text" class="form-control" name="das"></textarea>
        </div>
        <div class="field d-flex flex-sm-row flex-column gap-3 justify-content-between col-sm-6 col-10 py-2">
            <div>
                <label asp-for="EventViewModel.Start" class="form-label"></label>
                <span asp-validation-for="EventViewModel.Start"></span>
                <input id="start-date" asp-for="EventViewModel.Start" type="datetime-local" class="form-control">
                
                <label asp-for="EventViewModel.End" class="form-label"></label>
                <span asp-validation-for="EventViewModel.End"></span>
                <input id="end-date" asp-for="EventViewModel.End" type="datetime-local" class="form-control">
            </div>
            <div>
                <label asp-for="EventViewModel.Price" class="form-label"></label>
                <span asp-validation-for="EventViewModel.Price"></span>
                <input step="any" asp-for="EventViewModel.Price" type="number" class="form-control">
                
                <label asp-for="EventViewModel.MaxParticipants" class="form-label"></label>
                <span asp-validation-for="EventViewModel.MaxParticipants"></span>
                <input asp-for="EventViewModel.MaxParticipants" type="number" class="form-control">
            </div>
        </div>
        <div class="field col-sm-5 col-10">
            <label asp-for="EventViewModel.Venue" class="form-label"></label>
            <span asp-validation-for="EventViewModel.Venue"></span>
            <input asp-for="EventViewModel.Venue" type="text" class="form-control" value=@Model.SuggestionData?.Venue>
        </div>
        <button type="submit" class="btn btn-dark mt-2">Done</button>
    </form>
</div>

<script>
    const defaultEventDuration = 3;
    const date = new Date();
    date.setHours(18 - date.getTimezoneOffset() / 60);
    date.setMinutes(0);
    date.setSeconds(0);
    date.setMilliseconds(0);
    document.getElementById('start-date').value = date.toISOString().slice(0, -5);
    document.getElementById('start-date').addEventListener("change", e => {
        const startDate = new Date(e.target.value);
        startDate.setHours(startDate.getHours() + defaultEventDuration - date.getTimezoneOffset() / 60);
        document.getElementById('end-date').value = startDate.toISOString().slice(0, -5);
    })
    date.setHours(18 + defaultEventDuration - date.getTimezoneOffset() / 60);
    document.getElementById('end-date').value = date.toISOString().slice(0, -5);
</script>