@page
@model _404Model
@{
}
<div class="w-100 h-100 d-flex align-content-center flex-column">
    <h1>
        Oops!
    </h1>
    <h2>
        404 Not Found
    </h2>
    <div class="fs-4">
        Sorry, an error has occured, Requested page not found!
    </div>
    <div class="error-actions">
        <a class="btn btn-dark fs-4 mt-3" asp-page="/Pages/Events/List">Home</a>
    </div>
</div>
