@page
@model Web.Pages.Errors.ServerErrorModel
@{
    ViewData["Title"] = "Error";
}


<div class="w-100 h-100 position-absolute top-0 start-0 d-flex align-content-between z-2" style="background-color:#ffdd00">
    <div class="position-absolute p-5">
        <span class="fs-1 fw-bold">Whoops!</span>
        <br />
        <span class="fs-3 fw-bold">Something went wrong</span>
        <br />
        <a class="btn btn-dark fs-4 mt-3" asp-page="/Pages/Events/List">Home</a>
    </div>



    <svg id="exyg5XlN02K1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2300 1080" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><path d="M0,605.990225c136.095324,61.936721,336.75078,157.752774,494.248179-3.397263C546.464873,550.252328,731.793357,403.78682,996,540v0" transform="matrix(.73 0 0 0.83 164.751489-35.288112)" fill="none" stroke="#000" stroke-width="50" /><rect width="364.008" height="285.645" rx="80" ry="80" transform="matrix(.427039 0.277323-.320053 0.492839 911.652189 332.703178)" stroke="#040404" /><rect width="61.7628" height="155.753" rx="20" ry="20" transform="matrix(.739275 0.480091-.856259 1.31852 1055.610189 383.176178)" stroke="#000" /><rect width="192" height="108" rx="54" ry="54" transform="matrix(.333361 0.216487-.15852 0.244099 1007.884189 534.269178)" stroke="#000" /><rect width="192" height="108" rx="54" ry="54" transform="matrix(.333361 0.216487-.15852 0.244099 1058.805189 451.061178)" stroke="#000" /><path d="M1939.324404,952.03993c-20.073181,2.379384-61.427724-36.479887-81.872179-83.217848-39.532768-108.512566,14.102892-188.732125-56.75877-278.572036s-267.923955-79.171616-349.367059,48.692986c-66.465518,137.33206-183.613607,157.117878-301.073978,104.949103" transform="matrix(.999391 0.034899-.034899 0.999391 215.665389-58.654822)" fill="none" stroke="#000" stroke-width="50" /><rect width="192" height="108" rx="40" ry="40" transform="matrix(.415981 0.270142-.544639 0.838671 1310.787189 634.470178)" stroke="#000" /><polygon points="4.734032,7.599216 167.501908,-61.516015 112.854768,155.331263 -112.854768,155.331263 -160.602942,-62.555508 4.734032,7.599216" transform="matrix(.282137-.388328 0.388328 0.282137 1258.807189 658.444178)" stroke="#000" /><rect width="221.58" height="164.373" rx="31" ry="31" transform="matrix(.470931-.607376 0.559108 0.433506 1122.811189 661.370178)" stroke-width="0" /><rect width="42.6916" height="190.47" rx="21.35" ry="21.35" transform="matrix(.90515 0.425093-.425093 0.90515 1331.947189 152.735178)" stroke-width="0" /><rect width="42.6916" height="190.47" rx="21.35" ry="21.35" transform="matrix(.90515 0.425093-.425093 0.90515 982.745189 769.935178)" stroke-width="0" /><rect width="42.6916" height="190.47" rx="21.35" ry="21.35" transform="matrix(.539047 0.842276-.842276 0.539047 1471.217189 333.776178)" stroke-width="0" /><rect width="42.6916" height="190.47" rx="21.35" ry="21.35" transform="matrix(.539047 0.842276-.842276 0.539047 898.085189 695.321178)" stroke-width="0" /><rect width="42.6916" height="190.47" rx="21.35" ry="21.35" transform="matrix(.963384-.268127 0.268127 0.963384 1068.151189 158.458178)" stroke-width="0" /><rect width="42.6916" height="190.47" rx="21.35" ry="21.35" transform="matrix(.963384-.268127 0.268127 0.963384 1101.270189 788.438178)" stroke-width="0" /><path d="M164.751489,467.683775c-17.831442-7.692851-112.702879-31.831598-172.144064-34.0328" transform="translate(.000001 0)" fill="none" stroke="#000" stroke-width="41" /><path d="M2096.555412,946.736963c12.881475,16.042663,154.504849,90.397833,212.995312,106.099264" transform="translate(-2.555412 0)" fill="none" stroke="#000" stroke-width="50" /></svg>


</div>
