@page
@model Web.Pages.Authentication.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container h-100 d-flex justify-content-center align-items-center">
    <h1>Access Denied!</h1>
</div>