<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<add name="Online"
		 providerName="System.Data.ProviderName"
		 connectionString="Server=studmysql01.fhict.local;Uid=dbi502430;Database=dbi502430;Pwd=Wrlyidakipl4rlv8Prip;OldGuids=True;charset=utf8"
		/>
		<add name="Offline"
		 providerName="System.Data.ProviderName"
		 connectionString="Server=127.0.0.1;Uid=TSHDeveloper;Port=3306;Database=tsh;Pwd=Wrlyidakipl4rlv8Prip;OldGuids=True;"
		/>
	</connectionStrings>
	<appSettings>
		<add key="pepper" value="3trldyYMxfX86jiOwWJF7HhIot0pLslP"/>
	</appSettings>
</configuration>
